.maxxa{background-color: rgb(198, 32, 56);}
.fotosMaxxa{
    background-color: white;
    border-radius: 170px 6px 120px 12px; 
};
    
.backMaxxa{
    border: .2pc solid  rgb(155, 4, 4);
    border-radius: 3%;
   
}
