

a{
    text-decoration: none;
    color: black;
    
}
h3{
    font-size: small;
}
p{
    font-size: large;
}

.botonModal{
     border-radius: 0;
   background-color: rgb(198, 32, 56);
    color: black;
    border: none;
    outline: none;
    
}
.bodyPie{
    background-color: rgb(80, 95, 107);
}

.modalimg{
   text-align: center;
}