.fondo{
    background: rgb(250, 247, 247);

    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-size:50px;
}
.logo2{
    margin-top: 35px;   
}
@media screen and (max-width:480px){

    .logo2{
        height: 200px; 
        margin-top: 45px; 
    }
}


.divlogo{
    text-align: center;

}


.principal2{
 height: 20%;
}

