.body{
   
    text-align: center;
    background-color: rgb(27, 116, 187);
    font-family: monospace;
}
a{
    text-decoration: none;
    color: black;
    
}
h3{
    font-size: small;
}
p{
    font-size: large;
}

.botonPie{
    background-color: rgb(27, 116, 187);
    color: black;
    border: none;
    outline: none;

}
.bodyPie{
    background-color: rgb(27, 116, 187);
}
