.CabeceraN{
    width:100%;
    background: url(../fotos/logos/Cabezal-Optimizar.jpg);
    background-repeat: repeat-x;
    padding:1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    color:white;
}

.Cabecera-button{
    display:none;
    cursor: pointer;
}
.Cabecera-svg{
    width:2em;
    height:2em;
    fill:white;
}

.Cabecera-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.Cabecera-li{
    margin: 0 .5em;
}
@media screen and (max-width:480px){

    .Cabecera-button{
        display: flex;
    }
    .Cabecera-nav{
        width:100%;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height:0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease;
    }
    .Cabecera-nav.isActive{
        height:15vh;
        opacity: 1;
    }
    .Cabecera-ul{
        flex-direction: column;
    }
    .Cabecera-li{
        margin: .5em 0;
    }
}

.logo{
    
	height: 40px;
	width: 40px;
	padding: 0%;
	margin: -10%;
}

li{
list-style-type: none;
}

.float{
	margin-bottom: 17px;
	width:40px;
	height:40px;
	bottom:110px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	
  
}

.h4i{
    color: rgb(241, 234, 233);
    font-family: cursive;
    font-style: italic;
    
}
